{% extends 'MainPage/index.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static '/Enhancer/css/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="flexbox-container">
        <div class="input-block">
            <textarea class="input-textarea" type="text" form="query-form" placeholder="Search..." name='search_query'></textarea>
        </div>
        <div class="buttons">
            <form id="query-form" method="POST">
                {% csrf_token %}
                <input class="submit-button" type="submit">
            </form>
            <div class="downloads">
                {% block downloads %}
                {% endblock %}
            </div>
        </div>
        <div class="results-block">
            <div>
                <div class="results">
                    {% block results %}
                    {% endblock %} 
                </div>   
            </div> 
        </div>
    </div>
{% endblock %}








