{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Enhancer</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="flexbox-container">
            <div class="input-block">
                <form method="POST">
                    {% csrf_token %}
                    <!--
                    wielolinowy textarea ale trzeba dodac button
                    <textarea type="search" class="form-control" placeholder="Search..." aria-label="Search" name='search_query'></textarea>
                    -->
                    <input type="search" class="search-input" placeholder="Search..." aria-label="Search" name='search_query'>  
                </form>
            </div>
            <div class="results-block">
                <div>
                    <div class="results">
                        {% block results %}
                        {% endblock %} 
                    </div>
                    <div class="downloads">
                        {% block downloads %}
                        {% endblock %}
                    </div>
                </div> 
            </div>
        </div>
    </body>
    <footer>
    </footer>
</html>








